{
  "globals": { "document": true, "window": true },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb/base",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
