<nav class="navbar navbar-collapse bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Главная</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/users">Пользователи</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/comments">Комментарии</a>
    </li>
  </ul>
</nav>
