<!DOCTYPE html>
<html lang="ru">
  <%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="jumbotron mt-4 mb-4">
        <div class="row justify-content-center mb-4">
          <div class="col">
            <h3>Комментарии</h3>

            <div id="comments" class="mt-4"></div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="card col-4 p-4">
            <form action="" id="comment-form">
              <div class="mb-3">
                <label for="content" class="form-label">Комментарий</label>
                <textarea
                  name="content"
                  type="text"
                  class="form-control"
                  id="content"
                  rows="3"
                  placeholder="Введите комментарии"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
