<!DOCTYPE html>
<html lang="ru">
  <%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="jumbotron mt-4 mb-4">
        <form action="" id="reset" class="container-sm">
          <div class="row justify-content-center">
            <div class="card col-4 p-4">
              <h3>Новый пароль</h3>

              <div class="mb-3 mt-4">
                <label for="password" class="form-label">Новый пароль</label>
                <input
                  name="password"
                  type="text"
                  class="form-control"
                  id="password"
                  placeholder="Введите  новый пароль"
                />
              </div>

              <button type="submit" class="btn btn-primary">Изменить</button>
              <p class="text-center"><a href="/">Войти</a></p>

              <p class="mt-2 text-center">
                <a href="/registration">Зарегистрироваться</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
