<!DOCTYPE html>
<html lang="ru">
  <%- include('../partials/head', { nonce }); %>

  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="jumbotron mt-4 mb-4">
        <h1>Пользователи</h1>

        <div class="card col-6 mt-4 table-wrap" id="users"></div>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
