<!DOCTYPE html>
<html lang="ru">
  <%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="jumbotron mt-4 mb-4">
        <form action="" id="register" class="container-sm">
          <div class="row justify-content-center">
            <div class="card col-4 p-4">
              <h3>Регистрация</h3>

              <div class="mb-3 mt-4">
                <label for="username" class="form-label">Логин</label>
                <input
                  name="username"
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Введите имя пользователя"
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Введите email"
                />
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input
                  name="password"
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Введите пароль"
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Зарегистрироваться
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
