<!DOCTYPE html>
<html lang="ru">
  <%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="jumbotron mt-4 mb-4">
        <h1>Пользователь</h1>

        <div class="card col-6">
          <ul id="user" class="list-group list-group-flush"></ul>
        </div>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
