form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 340px;
  margin: 0 auto;
  justify-content: center;
}

input,
button {
  height: 24px;
  border: 1px solid gray;
}

.error,
.success {
  width: 340px;
  margin: 0 auto;
  margin-top: 16px;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 4px;
}
